html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.header {
  background-color: #373D49;
	width: 100%;
	text-align: center;
	color: white;
}
#map {
	height: 515px;;
	width: 100%;
}


.nav {
  padding-bottom: 32px;
}

.full{
  width:100%;
}
